numpy
scipy
pandas
numba
icc_rt
matplotlib
pylops
ipython
jupyter
pytorch
tqdm
scikit-learn
scikit-fmm
obspy
sphinx
pydata-sphinx-theme
sphinx-gallery
numpydoc
nbsphinx
svgwrite
cairosvg
pillow
setuptools_scm
