numpy
scipy
pandas
numba
icc_rt
matplotlib
pylops
ipython
jupyter
--extra-index-url https://download.pytorch.org/whl/cpu
torch
tqdm
scikit-learn
scikit-fmm
obspy
pytest
sphinx
pydata-sphinx-theme
sphinx-gallery
numpydoc
nbsphinx
svgwrite
cairosvg
pillow
setuptools_scm
